.assignment-header {
  background: white;
  padding: 0.8rem 2rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.title-assign{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

.assignment-header h1 {
  font-size: 1.4rem;
  color: #1f2937;
  margin: 0;
}

.assignment-header p {
  font-size: 0.95rem;
  color: #6b7280;
  margin: 0;
}

.assignment-header span {
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.easy { 
  background: #d1fae5; 
  color: #065f46; 
}

.medium { 
  background: #fef3c7; 
  color: #92400e; 
}

.hard { 
  background: #fee2e2; 
  color: #991b1b; 
}